.deck-container {
	font-family: "Helvetica Neue", sans-serif;
	font-size:1.75em;
	background:$white;
	
	.slide {
		background:$white;
		
		h1 {
			color:$black;
		}

		h2 {
			color:$secondary;
			border-bottom-color:$bravo;
		}

		h3 {
			color:$alpha;
		}

		pre {
			border-color:$bravo;
		}

		code {
			color:$alpha;
		}

		blockquote {
			font-size:2em;
			font-style:italic;
			padding:1em 2em;
			color:$black;
			border-left:5px solid $bravo;

			p {
				margin:0;
			}

			cite {
				font-size:.5em;
				font-style:normal;
				font-weight:bold;
				color:$alpha;
			}
		}

		::-moz-selection{ background:$secondary; color:$white; }
		::selection { background:$secondary; color:$white; }

		a {
			&, &:hover, &:focus, &:active, &:visited {
				color:$secondary;
				text-decoration:none;
			}

			&:hover, &:focus {
				text-decoration:underline;
			}
		}
	}
	
	> .slide {
		.deck-before, .deck-previous {
			opacity:0.4;
			
			&:not(.deck-child-current) {
				.deck-before, .deck-previous {
					opacity:1;
				}
			}
		}
		
		.deck-child-current {
			opacity:1;
		}
	} 
	
	.deck-prev-link, .deck-next-link {
		background:$bravo;
		font-family:serif; // sans-serif arrows x-browser fail
		
		&, &:hover, &:focus, &:active, &:visited {
			color:$white;
		}
		
		&:hover, &:focus {
			background:$secondary;
			text-decoration:none;
		}
	}
	
	.deck-status {
		font-size:0.6666em;
	}
	
	&.deck-menu {
		.slide {
			background:$charlie;
		}
		
		.deck-current, .no-touch & .slide:hover {
			background:#ddf;
		}
	}
}
