/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$white: #fff;
$black: #000;

$alpha: #888;
$bravo: #ccc;
$charlie: #eee;

$secondary: #c00;

@import 'deck';
@import 'goto';
@import 'menu';
@import 'navigation';
@import 'status';
@import 'hash';
@import 'scale';
@import 'swiss';
@import 'horizontal-slide';
@import 'tomorrow';

img {
  display: block;
  max-width: 100%;
}

.deck-container {
  .small {
    font-size: 0.5em;
  }

  .slide blockquote {
    font-size: 1em;
  }
}

#brief-history {
  li {
    display: block;
    float: left;
    width: 75%;
  }

  img {
    float: right;
    width: 4em;
  }
}

#installing-sass-gui {
  ul {
    margin-top: 3em;
  }

  li {
    display: block;
    float: left;
    width: 22%;
    margin-right: 3%;
    text-align: center;

    &:last-child {
      margin:0;
    }
  }

  .livereload {
    width: 7em;
  }
}

#compass-2 {
  h2 code {
    color: $secondary;
  }
}

#sass-project, #compass-project {
  img {
    float: right;
    width: 40%;
  }

  .copy {
    display: block;
    float: left;
    width: 60%;

    li {
      background: transparent;
      width: 90%;
    }
  }
}

.slide {
  section {
    margin:0;
    padding:0;
    width: 45%;
    float: left;
    margin-right: 5%;

    &:last-child {
      margin-right: 0;
    }
  }
}